# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignoring files according to https://microchipdeveloper.com/mplabx:version-control-working-with
**/*.X/.generated_files
**/*.X/build
**/*.X/dist
**/*.X/nbproject/Makefile-*
**/*.X/nbproject/Package-*
**/*.X/nbproject/private
